<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand">DITS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ml-auto">
                            <li routerLinkActive="active" class="nav-item">
                                <a class="nav-link" [routerLink]="['/register']"><i class="material-icons">person_add</i>
                                    Register</a>
                            </li>
                            <li routerLinkActive="active" class="nav-item">
                                <a class="nav-link" [routerLink]="['/login']"><i class="material-icons">fingerprint</i>
                                    Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>